.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal" }
        %span ×
      %h4.modal-title 
        =action_name.capitalize 
        Comment

    .modal-body
      = simple_form_for( [@post, @comment], remote: true) do |f|
        = f.error_notification
        .form-inputs
          = f.input :comment
        .form-actions
          = f.button :submit
